<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">CoffeeQuiz</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/random">Random Question</a></li>
        <li routerLinkActive="active"><a routerLink="/by-category">Question by Category</a></li>
        <li routerLinkActive="active"><a routerLink="/filter">Filter a Question</a></li>
      </ul>
    </div>
  </div>
</nav>
